* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
} 

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(151, 181, 151);
}

#panel {
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: whitesmoke;
}

#top-panel {
    /* padding: 0 30%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #3f7a3f;
}

.element {
    /* width: 10%; */
    display: flex;
    align-items: center;
    margin: 10%;
    display: flex; 
    gap: 5px;
    /* background-color: red; */
    color: whitesmoke;
} 

.box {
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 22px;
    color: #299d29;
} 

#bottom-panel {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: blue; */
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #299d29;
    color: whitesmoke;
}

.bubble:hover {
    cursor: pointer;
    background-color: #336433; 
}